
@mixin footer {
  padding: 0em 1.2em;
  margin-top: 6em;
  position: relative;

  &__brand {

    &__logo {
      display: flex;
      align-items: center;

      &__image {
        font-family: $font-archivo;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 43px;
        padding: 0.46em 0.625em;
        background-color: $color-primary;
        color: $color-secondary;
      }

      &__title-wrapper {
        padding-left: 1em;
        flex: 1;

        .brand__title-wrapper__title {
          font-family: $font-archivo;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 28.29px;
          letter-spacing: 2.5999999046325684px;
          text-align: left;
          text-transform: uppercase;
    
          &--bold {
            font-weight: 700;
          }
        }
      }
    }

    &__description {
      @include room-description;
      margin-top: 3em;
    }

  }

  &__social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 1.6em;

    &__icon {
      padding: 0.6em 0.6em;
      display: flex;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;

        svg path {     
          fill: $color-secondary;        
        }
      }

      svg path {     
        fill: #777777;        
      }
    }
  }

  &__services {
    margin-top: 1em;

    &__title {
      @include room-title;
      font-size: 1.7rem;
    }

    &__list {
      list-style: none;
      display: flex;
      list-style: none;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 335px;

      &__item {
        padding: 0em;
        font-family: $font-roboto;
        font-size: 1rem;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #777777;
      }
    }
  }

  &__contact {
    margin-top: 0.6em;

    &__title {
      @include room-title;
      font-size: 1.7rem;
    }

    &__list {
      list-style: none;
      margin-top: 1.6em;

      &__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 3em;

        .contact__list__item__wrapper {
          padding-left: 1em;

          &__title {
            @include room-title;
            font-size: 1.4rem;
            line-height: 16.41px;
          }

          &__subtitle {
            @include room-description;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  &__copyright {
    position: absolute;
    left: 0em;
    width: 100%;
    background-color: #F8F8F8;
    padding: 0.4em 1.2em;

     &__paragraph {
      padding: 0.6em 0em;
      font-family: $font-roboto;
      color: $color-tertiary;
      font-size: 1rem;
      font-weight: 700;
      line-height: 18.75px;
      letter-spacing: -0.47999998927116394px;
      text-align: left;
     }
  }
}