
@mixin pageHeader {
  background: #333333;
  color: #FFFFFF;
  position: relative;
  padding: 9em 1.2em 6em;
  min-height: 335px;

  &__title {
    font-family: $font-oldStandard;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 1em;
    margin-top: 0.28em;

    &--home {
      margin-top: 1em;
    }
  }

  &__subtitle {
    font-family: $font-archivo;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  @media only screen and (min-width: 1000px) {
    padding: 9em 7em 6em;    
  }
}

@mixin pageNavbar {
  position: absolute;
  bottom: -0.1em;
  right: 1.2em;
  background-color: #FFFFFF;
  padding: 1em;
  
  &__pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: $color-tertiary;
    font-family: $font-archivo;

    .page {
      font-weight: 700;
      font-size: 1rem;
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
      }

      &--divisor {
        margin: 0em 0.4em;
        cursor: default;
      }

      &--active {
        color: #BEAD8E;
        cursor: default;
      }
    }
  }

  @media only screen and (min-width: 1000px) {
    right: 9em;    
  }
}