
@mixin room-subtitle {
  font-family: $font-archivo;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.799999952316284px;
  text-align: left;
  color: #777777;
  text-transform: uppercase;
}