$font-oldStandard: "Old Standard TT";
$font-archivo: "Archivo";
$font-roboto: "Roboto";
$font-oswald: "Oswald";
$color-primary: #BDAC8D;
$color-secondary: #FFFFFF;
$color-tertiary: #000000;

@import "./pages/RoomsPage.scss";
@import "./pages/OffersPage.scss";

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
