$font-oldStandard: "Old Standard TT";
$font-archivo: "Archivo";
$font-roboto: "Roboto";
$font-oswald: "Oswald";
$color-primary: #BDAC8D;
$color-secondary: #FFFFFF;
$color-tertiary: #222222;

@import "./pages/HomePage.scss";
@import "./pages/AboutPage.scss";
@import "./pages/RoomsPage.scss";
@import "./pages/DetailsPage.scss";
@import "./pages/OffersPage.scss";
@import "./pages/ContactPage.scss";
@import "./components/NavbarComponent.scss";
@import "./components/FooterComponent.scss";
@import "./components/PageHeaderComponent.scss";

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}

.navbar {
  @include navbar;
}

.header {
  @include pageHeader;

  &__navbar {
    @include pageNavbar;
  }
}

.footer {
  @include footer;
}




