.rooms__page-header {
  background: #333333;
  color: #FFFFFF;
  height: 310px;
  position: relative;
  padding: 9.7em 1.2em;
}
.rooms__page-header__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.8rem;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  line-height: 1em;
}
.rooms__page-header__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8rem;
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.rooms__page-header__navbar {
  position: absolute;
  bottom: 0em;
  right: 1.2em;
  background-color: #FFFFFF;
  padding: 1em;
}
.rooms__page-header__navbar .page-header__navbar__pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: #333333;
  font-family: "Archivo";
}
.rooms__page-header__navbar .page-header__navbar__pages .page {
  font-weight: 700;
  font-size: 1rem;
}
.rooms__page-header__navbar .page-header__navbar__pages .page--divisor {
  margin: 0em 0.4em;
}
.rooms__page-header__navbar .page-header__navbar__pages .page--active {
  color: #BEAD8E;
}
.rooms__slider {
  position: relative;
  padding: 0em 1.26em;
}
.rooms__slider__room-card {
  text-align: center;
}
.rooms__slider__room-card__image {
  max-height: 218px;
  height: 218px;
  width: 100%;
  background: #E9E9E9;
  margin-top: 3em;
}
.rooms__slider__room-card__features {
  list-style: none;
  position: relative;
  transform: translateY(-70%);
  display: inline-flex;
  background-color: white;
  padding: 0.68em 1.3em;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.rooms__slider__room-card__features .feature {
  padding: 0em 0.43em;
}
.rooms__slider__room-card__features .feature img {
  line-height: 100%;
  vertical-align: middle;
}
.rooms__slider__room-card__title {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: center;
}
.rooms__slider__room-card__subtitle {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0.1em 1em 0.6em;
  margin-top: 1.4em;
}
.rooms__slider__room-card__price {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  color: #BEAD8E;
  margin: 0em 0.4em;
}
.rooms__slider__room-card__button {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  margin: 0em 0.4em;
  border: none;
  padding: 0em 0.3em;
  background-color: #FFFFFF;
  color: #BDBDBD;
}
.rooms__slider .pagination {
  position: absolute;
  bottom: 0em;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  left: 50%;
  transform: translate(-50%, calc(100% + 2.6em));
  max-width: 100%;
}
.rooms__slider .pagination .page {
  font-family: "Oswald";
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  padding: 0.7em 1.2em;
  background: #FFFFFF;
  color: #000000;
}
.rooms__slider .pagination .page.change-by-one {
  padding: 0.7em 1.2em;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: center;
}
.rooms__slider .pagination .page.not-allowed {
  padding: 0.7em 1.0909em;
}
.rooms__slider .pagination .page--selected {
  background: #BDAC8D;
  color: #FFFFFF;
}

.offers .button {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  background-color: #BDAC8D;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
