.rooms__page-header {
  background: #333333;
  color: #FFFFFF;
  height: 310px;
  position: relative;
  padding: 5.8em 1.2em 4.7em;
}
.rooms__page-header__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1em;
  margin-top: 0.28em;
}
.rooms__page-header__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.rooms__page-header__navbar {
  position: absolute;
  bottom: -0.1em;
  right: 1.2em;
  background-color: #FFFFFF;
  padding: 1em;
}
.rooms__page-header__navbar .page-header__navbar__pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: #333333;
  font-family: "Archivo";
}
.rooms__page-header__navbar .page-header__navbar__pages .page {
  font-weight: 700;
  font-size: 1rem;
}
.rooms__page-header__navbar .page-header__navbar__pages .page--divisor {
  margin: 0em 0.4em;
}
.rooms__page-header__navbar .page-header__navbar__pages .page--active {
  color: #BEAD8E;
}
.rooms__slider {
  position: relative;
  padding: 0em 1.26em;
}
.rooms__slider__room-card {
  text-align: center;
}
.rooms__slider__room-card__image {
  max-height: 218px;
  height: 218px;
  width: 100%;
  background: #E9E9E9;
}
.rooms__slider__room-card__features {
  list-style: none;
  position: relative;
  transform: translateY(-70%);
  display: inline-flex;
  background-color: white;
  padding: 0.68em 1.3em;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.rooms__slider__room-card__features .feature {
  padding: 0em 0.43em;
}
.rooms__slider__room-card__features .feature img {
  line-height: 100%;
  vertical-align: middle;
}
.rooms__slider__room-card__title {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: center;
}
.rooms__slider__room-card__subtitle {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0.1em 3em 0.6em;
  margin-top: 1.4em;
}
.rooms__slider__room-card__price {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  color: #BEAD8E;
  margin: 0em 0.4em;
}
.rooms__slider__room-card__button {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  margin: 0em 0.4em;
  color: #BDBDBD;
  background-color: #FFFFFF;
  border: none;
}
.rooms__slider .pagination {
  position: absolute;
  bottom: 0em;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  left: 50%;
  transform: translate(-50%, calc(100% + 2.6em));
  max-width: 100%;
}
.rooms__slider .pagination .page {
  font-family: "Oswald";
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  padding: 0.7em 1.2em;
  background: #FFFFFF;
  color: #000000;
}
.rooms__slider .pagination .page.change-by-one {
  padding: 0.7em 1.2em;
  line-height: 1;
  background-repeat: no-repeat;
  background-position: center;
}
.rooms__slider .pagination .page.not-allowed {
  padding: 0.7em 1.0909em;
}
.rooms__slider .pagination .page--selected {
  background: #BDAC8D;
  color: #FFFFFF;
}

.offers__page-header {
  background: #333333;
  color: #FFFFFF;
  height: 310px;
  position: relative;
  padding: 5.8em 1.2em 4.7em;
}
.offers__page-header__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1em;
  margin-top: 0.28em;
}
.offers__page-header__subtitle {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.offers__page-header__navbar {
  position: absolute;
  bottom: -0.1em;
  right: 1.2em;
  background-color: #FFFFFF;
  padding: 1em;
}
.offers__page-header__navbar .page-header__navbar__pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  color: #333333;
  font-family: "Archivo";
}
.offers__page-header__navbar .page-header__navbar__pages .page {
  font-weight: 700;
  font-size: 1rem;
}
.offers__page-header__navbar .page-header__navbar__pages .page--divisor {
  margin: 0em 0.4em;
}
.offers__page-header__navbar .page-header__navbar__pages .page--active {
  color: #BEAD8E;
}
.offers__rooms {
  padding: 0em 1.26em;
  margin-top: 3em;
}
.offers__rooms__offer {
  padding: 0em 0.5em 7em;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1019607843);
  position: relative;
}
.offers__rooms__offer .offer__price {
  font-family: "Archivo";
  font-weight: 700;
  text-align: right;
  position: absolute;
  right: 1.5rem;
}
.offers__rooms__offer .offer__price--before {
  font-size: 1.5rem;
  line-height: 25.02px;
  color: #BEAD8E;
  top: 2.8em;
}
.offers__rooms__offer .offer__price--before .offer__price__time {
  font-size: 1rem;
  line-height: 11.97px;
  text-decoration: line-through;
}
.offers__rooms__offer .offer__price--before .offer__price__value {
  text-decoration: line-through;
}
.offers__rooms__offer .offer__price--after {
  font-size: 2rem;
  line-height: 32.64px;
  color: #DE5777;
  top: 3.4em;
}
.offers__rooms__offer .offer__price--after .offer__price__time {
  font-size: 1rem;
  line-height: 13.06px;
}
.offers__rooms__offer .offer__image {
  height: 162px;
  width: 100%;
  background-color: #EBEBEB;
}
.offers__rooms__offer .offer__subtitle {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
  text-transform: uppercase;
  margin-top: 0.6em;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.offers__rooms__offer .offer__title {
  font-family: "Old Standard TT";
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -1.4400000572px;
  text-align: left;
  color: #222222;
  margin-top: 0.2em;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.offers__rooms__offer .offer__description {
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  margin-top: 1.4em;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.offers__rooms__offer .offer__amenities {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.4em;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.offers__rooms__offer .offer__amenities__item {
  width: 50%;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  text-align: left;
  color: #777777;
  display: flex;
  align-items: center;
  padding: 1em 0em 0em;
}
.offers__rooms__offer .offer__amenities__item img {
  height: 16px;
  padding-right: 0.5em;
}
.offers__rooms__offer .offer__button {
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  background-color: #BDAC8D;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: none;
  padding-left: 4em;
  padding-right: 4em;
  margin-top: 2.2em;
  margin-left: 0.8rem;
}
.offers__popular-rooms {
  background: #222222;
  padding: 3em 1em 2em;
}
.offers__popular-rooms__title {
  font-family: "Old Standard TT";
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -1.4400000572px;
  text-align: left;
  color: #222222;
  font-size: 2.4em;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0.7em;
}
.offers__popular-rooms__subtitle {
  font-family: "Archivo";
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
  text-transform: uppercase;
  text-align: center;
  color: #BDAC8D;
}
.offers__popular-rooms__slider {
  margin-top: 3em;
  min-height: 160px;
}
.offers__popular-rooms__slider .swiper-slide {
  padding: 0em 0.3em;
}
.offers__popular-rooms__slider .slider__button {
  height: unset;
  padding: 0.75em 1em;
  color: #222222;
  top: 6.4em;
}
.offers__popular-rooms__slider .slider__button::after {
  display: none;
}
.offers__popular-rooms__slider .slider__button img {
  transform: scale(1.2);
}
.offers__popular-rooms__slider .slider__button--next {
  background: #BDAC8D;
  right: 0em;
}
.offers__popular-rooms__slider .slider__button--prev {
  background-color: #FFFFFF;
  left: 0em;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card {
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 1.6em;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__image {
  max-height: 218px;
  height: 218px;
  width: 100%;
  background: #E9E9E9;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__features {
  list-style: none;
  position: relative;
  transform: translateY(-70%);
  display: inline-flex;
  background-color: white;
  padding: 0.68em 1.3em;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__features .feature {
  padding: 0em 0.43em;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__features .feature img {
  line-height: 100%;
  vertical-align: middle;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__title {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: center;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__subtitle {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0.1em 3em 0.6em;
  margin-top: 1.4em;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__price {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  color: #BEAD8E;
  margin: 0em 0.4em;
}
.offers__popular-rooms__slider .popular-rooms__slider__room-card__button {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  margin: 0em 0.4em;
  color: #BDBDBD;
  background-color: #FFFFFF;
  border: none;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
