$font-oldStandard: "Old Standard TT";
$font-archivo: "Archivo";

@import "./pages/RoomsPage.scss";

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
}
