@import "../components/RoomCardComponent.scss";
@import "../components/ButtonComponent.scss";
@import "../components/AmenitiesComponent.scss";
@import "../components/RoomTitleComponent.scss";
@import "../components/RoomDescriptionComponent.scss";
@import "../components/RoomSubtitleComponent.scss";

$offers-rooms-element-marging-right: 0.8rem;
$offers-rooms-element-marging-left: $offers-rooms-element-marging-right;

.offers {

  &__rooms {
    padding: 0em 1.26em;
    margin-top: 3em;

    &__offer {
      padding: 0em 0.5em 7em;
      box-shadow: 0px 14px 24px 0px #B8B8B81A;
      position: relative;

      & .offer__price {
        font-family: $font-archivo;
        font-weight: 700;
        text-align: right;
        position: absolute;
        right: 1.5rem;
        
        &--before {
          font-size: 1.5rem;
          line-height: 25.02px;
          color: #BEAD8E;
          top: 2.8em;          

          & .offer__price__time {
            font-size: 1rem;
            line-height: 11.97px;
            text-decoration: line-through;
          }

          & .offer__price__value {
            text-decoration: line-through;
          }
        }

        &--after {
          font-size: 2rem;
          line-height: 32.64px;
          color: #DE5777;
          top: 3.4em;

          & .offer__price__time {
            font-size: 1rem;
            line-height: 13.06px;              
          }
        }

      }

      & .offer__image {
        background-color: #EBEBEB;
        height: 162px;
        width: 100%;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
      }

      & .offer__subtitle {
        @include room-subtitle;
        margin-top: 0.6em;
        margin-left: $offers-rooms-element-marging-left;
        margin-right: $offers-rooms-element-marging-right;
      }

      & .offer__title {
        @include room-title;
        margin-top: 0.2em;
        margin-left: $offers-rooms-element-marging-left;
        margin-right: $offers-rooms-element-marging-right;
      }

      & .offer__description {
        @include room-description;
        margin-top: 1.4em;
        margin-left: $offers-rooms-element-marging-left;
        margin-right: $offers-rooms-element-marging-right;
      }
  
      & .offer__amenities {
        @include amenities;
        margin-top: 0.4em;
        margin-left: $offers-rooms-element-marging-left;
        margin-right: $offers-rooms-element-marging-right;
      }

      & .offer__button {
        @include button;
        padding-left: 4em;
        padding-right: 4em;
        margin-top: 2.2em;
        margin-left: $offers-rooms-element-marging-left;
      }
    }
  }

  &__popular-rooms {
    background: #222222;
    padding: 3em 1em 2em;

    &__title {
      @include room-title;
      font-size: 2.4em;
      text-align: center;
      color: #FFFFFF;
      margin-top: 0.7em;
    }

    &__subtitle {
      @include room-subtitle;
      text-align: center;
      color: #BDAC8D;
    }

    &__slider {
      min-height: 160px;

      .swiper-slide {
        padding: 0em 0.3em;
      }

      .slider__button {
        height: unset;
        padding: 0.75em 1em;
        color: #222222;
        top: 10em;

        &::after {
          display: none;
        }

        img {
          transform: scale(1.2);  
        }

        &--next {
          background: #BDAC8D;
          right: 0em;
        }

        &--prev {
          background-color: #FFFFFF;
          left: 0em;
        }
      }

      .popular-rooms__slider__room-card {
        @include roomCard;
        background-color: $color-secondary;
        padding-bottom: 1.6em;

        &__image {
          display: block;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          overflow: hidden;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }
      }

    }

  }

  @media only screen and (min-width: 1000px) {

    &__rooms {
      padding: 0em 10em;

      .offer__image {
        height: 370px;
      }
    }

    &__popular-rooms {
      padding: 3em 7em 2em;
    }
  }
}

