
@import "../components/RoomCardComponent.scss";

.rooms {
  
  &__slider {
    padding: 0em 0em 4em;

    &__room-card {
      @include roomCard;

      &__price { 
        display: inline-block;
      }

      &__image {
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
      }

      &__button {

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .pag-nav-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 2em;
      
      .navigation {
        position: relative;
        height: unset;
        margin: unset;
        left: unset;
        right: unset;
  
        &::after {
          content: unset;
        }
      }
  
      .pagination {
        position: relative;
        display: inline-block;
        width: unset;
        bottom: unset;
      }
    }


    .swiper-pagination-bullet {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      font-family: "Oswald";
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 19px;
      text-align: center;
      padding: 1.2em 1.2em;
      background-color: $color-secondary;
      color: $color-tertiary;
      border-radius: 0em;
      opacity: 1;

      &.hide {
        display: none;
      }

      &.dots {
        background-color: white;
        color: black;
      }
    }

    .swiper-pagination-bullet-active {
      background: $color-primary;
      color: $color-secondary;
    }
  }

  @media only screen and (min-width: 1000px) {
    padding: 0em 10em;

    &__slider {
      padding: 2em 0em 4em;

      &__room-card__image {

        img {
          transform: translate(-50%, -50%) scale(1.5);
        }
      }
    }
  }

}
